In [51]:
import pandas as pd

In [52]:
df_1 = pd.read_csv('../data/kaggle_resume_dataset.csv')

In [53]:
df_2 = pd.read_csv('../data/website_resumes.csv')
df_2 = df_2.drop_duplicates()

In [54]:
df_3 = pd.read_csv('../data/2480resumes.csv')

In [55]:
df_3 = df_3[['category', 'resume']]

In [56]:
df_1.rename(columns = {'Category':'category','Resume':'resume'}, inplace=True)

In [57]:
full_df = pd.concat([df_1,df_2, df_3])
full_df.category = full_df.category.str.lower()

In [87]:
df_1[df_1.resume.str.contains("COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS")]

    category                                             resume
897  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
904  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
911  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
918  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
925  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
932  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
939  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
946  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
953  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
960  Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...

In [85]:
df_1.drop_duplicates()

         category                                             resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
894       Testing  Computer Skills: â¢ Proficient in MS office (...
895       Testing  â Willingness to accept the challenges. â ...
896       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
897       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
898       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[166 rows x 2 columns]

In [91]:
df_3.drop_duplicates()

         category                                             resume
0     AGRICULTURE  ADULT EDUCATION INSTRUCTOR\r\nSummary\r\nSeaso...
2     AGRICULTURE  FINANCIAL SALES CONSULTANT\r\nProfessional Sum...
3     AGRICULTURE  EXTENSION METHODOLOGIST\r\nProfile\r\nSelf-mot...
4     AGRICULTURE  RESEARCH SCIENTIST\r\nSummary\r\n\r\nHighly mo...
5     AGRICULTURE  FRONT DESK CLERK (FEE BASIS, JOHN D DINGELL VA...
...           ...                                                ...
2491   AUTOMOBILE  GENERAL LIABILITY CLAIM REPRESENTATIVE\r\nSumm...
2492   AUTOMOBILE  AUTOMOBILE TRANSPORTER\r\nProfessional Summary...
2493   AUTOMOBILE  Highlights\r\n\r\nProg. Languages: C (5+ yrs),...
2494   AUTOMOBILE  CUSTOMER RELATIONS SPECIALIST\r\nSummary\r\n\r...
2495   AUTOMOBILE  SENIOR SPECIAL INVESTIGATOR\r\nSummary\r\n\r\n...

[2482 rows x 2 columns]

In [58]:
full_df.to_csv('../data/full_dataset.csv')

In [28]:
print(df_1['Resume'][10])

Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details

Data Science Assurance Associate

Data Science Assurance Associate - Ernst & Young LLP
Skill Details
JAVASCRIPT- Exprience - 24 months
jQuery- Exprience - 24 months
Python- Exprience - 24 monthsCompany Details
company - Ernst & Young LLP
description - Fraud Investigations and Dispute Services   Assurance
TECHNOLOGY ASSISTED REVIEW
TAR (Technology Assisted Review) assists in accelerating the review process and run analytics and generate reports.
* Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating reviews, resulting in reduced labor costs and time spent during the lawyers review.
* Understand the end to end flow of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. Worked on analyzing the outputs and precision monitoring for the entire tool.
* TAR assists in predictive coding, topic modelling from the evidence by following EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.

Tools & Technologies: Python, scikit-learn, tfidf, word2vec, doc2vec, cosine similarity, NaÃ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.

MULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)
TEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIEW DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.
* Created heat map of terms by survey category based on frequency of words * Extracted Positive and Negative words across all the Survey categories and plotted Word cloud.
* Created customized tableau dashboards for effective reporting and visualizations.
CHATBOT * Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation, reservation options and so on.
* This chat bot serves entire product related questions. Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer.
* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.

Tools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, Word Embedding, scikit-learn, JavaScript/JQuery, SqlServer

INFORMATION GOVERNANCE
Organizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.
* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.
* Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant, Outdated, or Trivial.
* Preforming full-text search analysis on elastic search with predefined methods which can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) which frequently targeted during cyber-attacks.
Tools & Technologies: Python, Flask, Elastic Search, Kibana

FRAUD ANALYTIC PLATFORM
Fraud Analytics and investigative platform to review all red flag cases.
â¢ FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems.
* It can be used by clients to interrogate their Accounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics
Tools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js