In [2]:
import pandas as pd

In [11]:
df_1 = pd.read_csv('../data/kaggle_resume_dataset.csv')

In [4]:
df_2 = pd.read_csv('../data/website_resumes.csv')

In [9]:
df_2

,job_title,resume
0,Sr. Android App Developer,\r\nGLENN WHITE\r\nPhone - 415-***-****\r\nEma...
1,Debt Collector Customer Service,\r\nTiana Hampton\r\nDebt Collector/ Customer ...
2,Market Analyst Research Fellow,"\r\nDoug Kriegel\r\n**** ******* ******, *****..."
3,Loan Specialist Gs,\r\nPrinted Date */**/**** *:** EST USAJOBS Co...
4,Customer Service Waitress,"\r\nStephanie Brown\r\nLake Wales, FL *****\r\..."
...,...,...
11894,Customer Service,\r\nDedre Vance\r\nHutchins\r\nadpw48@r.postjo...
11895,Graphic Designer Digital Marketing,\r\nLarita Harris\r\nI am looking for a full-t...
11896,"Data Entry, Court Clerk, Administrative Assistant",\r\nArrolyn T. Wallace\r\n**** ** ***\r\nHoust...
11897,Machine Operator Cement,\r\nDAVID TONYOKWE\r\n*** ****** ****** ******...
11898,"Package Handler,security guard,janitor/cleaner","\r\nMichael Yellets\r\nPittsburgh, PA\r\nadpw4..."

In [15]:
print(df_1['Resume'][1])

Education Details
May 2013 to May 2017 B.E   UIT-RGPV
Data Scientist

Data Scientist - Matelabs
Skill Details
Python- Exprience - Less than 1 year months
Statsmodels- Exprience - 12 months
AWS- Exprience - Less than 1 year months
Machine learning- Exprience - Less than 1 year months
Sklearn- Exprience - Less than 1 year months
Scipy- Exprience - Less than 1 year months
Keras- Exprience - Less than 1 year monthsCompany Details
company - Matelabs
description - ML Platform for business professionals, dummies and enthusiasts.
60/A Koramangala 5th block,
Achievements/Tasks behind sukh sagar, Bengaluru,
India                               Developed and deployed auto preprocessing steps of machine learning mainly missing value
treatment, outlier detection, encoding, scaling, feature selection and dimensionality reduction.
Deployed automated classification and regression model.
linkedin.com/in/aditya-rathore-
b4600b146                           Reasearch and deployed the time series forecasting model ARIMA, SARIMAX, Holt-winter and
Prophet.
Worked on meta-feature extracting problem.
github.com/rathorology
Implemented a state of the art research paper on outlier detection for mixed attributes.
company - Matelabs
description -